*.bak

/*
!/Interface/
!/.gitignore
!/README.textile

/Interface/ICONS/

/Interface/AddOns*/*
!/Interface/AddOns/!BlizzBugFix/
!/Interface/AddOns/!BugGrabber/
!/Interface/AddOns/!RayUI/
!/Interface/AddOns/!RayUI_Config/
!/Interface/AddOns/Buffet/
!/Interface/AddOns/BugSack/
!/Interface/AddOns/EasyMount/
!/Interface/AddOns/Multishot/
!/Interface/AddOns/ncShadow/
!/Interface/AddOns/Numeration/
!/Interface/AddOns/Postal/
!/Interface/AddOns/RayWatcher/
!/Interface/AddOns/stAddonmanager/
!/Interface/AddOns/xCT/